<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b0b71a39-0390-4264-9a38-525bede40fb9/resourceGroups/BleacherYak/providers/Microsoft.Web/sites/BackendSignalR</ResourceId>
    <ResourceGroup>BleacherYak</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <WebConfigEnvironmentVariables>ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.Azure.SignalR</WebConfigEnvironmentVariables>
    <SiteUrlToLaunchAfterPublish>https://backendsignalr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>backendsignalr.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BackendSignalR</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BackendSignalR</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>